.nav {
	margin: 40px 0 0 60px;
}

.logo {
	margin-bottom: 40px;
}

.logo-name {
	font-size: 28px;
	color: rgb(22, 22, 180);
	letter-spacing: 1px;
}

.nav-item {
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	color: #969696;

	cursor: pointer;
	display: flex;
	align-items: center;
	border-radius: 4px;
	margin: 2px 0;

	width: 120px;
	padding: 10px 25px;
}

.nav-selected {
	border: 1px solid #969696;
	color: rgb(22, 22, 180);
}

.nav-selected-name {
	color: rgb(36, 36, 36);
}

.nav-share {
	font-weight: 500;
	text-transform: uppercase;
	color: rgb(36, 36, 36);
}

.icon-case {
	width: 20px;
	margin-right: 10px;
}

.nav-icon {
	size: 15px;
}

p {
	margin: 0;
}

.hamburger {
	display: block;
	cursor: pointer;
	z-index: 200;
	position: fixed;
	left: 90%;
	/* box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.04); */
}

.bar {
	box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.04);
}

.hamburger.active .bar:nth-child(2) {
	opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}
